.game {
  width: 100%;
}

.newGameButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-left: -2.5rem;
  padding: 0.5rem;
  width: 0.5in;
  height: 1.0in;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgb(0, 0, 0);
  background: rgb( 255, 255, 255 );
  z-index: 99;
}

.red {
  color: rgb( 255,  0,  0);
}

.black {
  color: rgb( 0, 0, 0);
}

.left-corner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.0rem;
}

.right-corner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 1.0rem;
}

.invert {
  transform: rotate(180deg);
}

.bj-table {
  width: 100%;
}

.dealerRow {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playersRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealerArea {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardArea {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bankArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.buttons button {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.25rem;
  width: 100%;
}

.bank {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cards {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#handDealer div:first-child .left-corner, #scoreDealer {
  visibility: hidden;
}

#handDealer div.card:nth-child(1n+3) {
  visibility: hidden;
}